.main-layout-content {
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: var(--space-6xl);
  padding-inline: var(--space-2xl);
  width: 100%;
  max-width: var(--container-width);

  @media (width < 1024px) {
    gap: var(--space-5xl);
  }

  @media (width < 768px) {
    gap: var(--space-4xl);
  }

  @media (width < 425px) {
    gap: var(--space-3xl);
  }
}