.main-layout {
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  gap: var(--space-8xl);

  @media (width < 1024px) {
    gap: var(--space-7xl);
  }

  @media (width < 768px) {
    gap: var(--space-6xl);
  }

  @media (width < 425px) {
    gap: var(--space-5xl);
  }
}