.header {
  position: relative;
  z-index: var(--z-index-elevated);
  padding-inline: var(--space-2xl);
  background-color: hsl(var(--global-background));
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-2xl);
  border-bottom: 1px solid hsl(var(--global-border));
  padding-block: var(--space-2xl);
}